{% extends '@BWSkeleton/Frontend/layout.html.twig' %}

{% block content -%}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Resource edit</h1>

            {{ form(edit_form) }}

            <ul class="record_actions">
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
