{% extends '@BWSkeleton/Frontend/layout.html.twig' %}

{% block title %}Resource creation{% endblock %}

{% block content -%}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Resource creation</h1>

            {% include 'BWBlogBundle:Resource:form.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
