{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block content_wrap %}
    <h1>Sign In</h1>

    <form action="{{ path('user_sign_in_check') }}" method="post">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <div>
            <button type="submit">login</button>
        </div>
    </form>

    <div>
        No account yet? <a href="{{ path('user_sign_up') }}">Sign up</a>!
    </div>
{% endblock %}
