{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block content_wrap %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Sign In</h1>

            <form action="{{ path('user_sign_in_check') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="_password" />
                </div>

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </div>
            </form>

            <div class="form-group">
                No account yet? <a href="{{ path('user_sign_up') }}">Sign up</a>!
            </div>
        </div>
    </div>
</div>
{% endblock %}
