{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block content_wrap %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Home page</h1>
            </div>
        </div>
    </div>
{% endblock %}
