{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block content_wrap %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Profile</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
