{% extends '@BWSkeleton/Frontend/layout.html.twig' %}

{% block title %}Resource edit{% endblock %}

{% block content -%}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Resource edit</h1>

            {% include 'BWBlogBundle:Resource:form.html.twig' %}

            <br/>

            {{ form(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
